*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display:grid;
  place-items:center;
  height:100dvh;
  background-color:hsl(212, 45%, 89%) ;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  width: 325px;
}
img{
  width:100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
h1{
  font-size:25px;
  color: hsl(218, 44%, 22%);
  margin: 10px 0;
  font-weight: 700;
}
p{
  color: hsl(220, 15%, 55%);
  margin: 25px 0;
  padding: 0 10px;
  font-weight: 400;
}
.attribution {
  font-size: 11px; 
  text-align:center;
}
.attribution a { color: hsl(228, 45%, 44%); }
